.wrapper{ /*Css'en till min class wrapper som är min container*/
    display: grid; /*Här bestämmer jag att griden ska visas*/
    grid-template-columns: 1fr; /*Hur många kolumner som ska finnas*/
    grid-template-rows: 50px 50px auto 30px;  /*Hur mycket space var en av de då 4 raderna.*/
    width:90%;
    margin: 0 auto; 
    grid-template-areas:
    "header" 
    "nav" 
    "main" 
    "footer" ;
}

header{ /*Här är css för mina headers och här är det bara för att bekräfta att header har header platsen i griden*/
    grid-area: header;
}

h1{ /*specifikt hur hög <h1> ska vara och storleken av fonten*/
    height: 5vh;
    font-size: 2em;
}

nav{ 
    grid-area: nav;
}

nav ul{ /*css för min lista*/
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

nav li{ /*här är det mer specifikt för varje list element*/
    height: 18px;
    list-style-type:none;
    text-align: right;
    border: 2px solid black;
    border-radius: 40px;
    padding: 4px;
}

nav a{ /*lite mer för list elementen*/
    height:100%;
    width:100%;
    display:inline-block;
    text-decoration: solid;
    text-align: center;
    margin:0;
}
a:link{
    color:#e9e50c;
}
a:visited{
    color:rgb(71, 16, 224);
}
a:focus{
    color:aqua;
}
a:hover {  /*vad som händer om man hoverar list elementen*/
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin:0;
}
a:active{
    color:aquamarine;
}
a{ /*Vilken färg texten ska vara*/
    color:rgb(134, 119, 35);
}

#sida1 main{ /*Här använder jag ett id för en sida för att göra specifikt css för den */
    grid-area:main;
    display:grid;
    grid-template-rows: auto; /*får automatiskt storleken*/
    grid-template-columns: 1fr 1fr; /*två kolumner i main*/
}   

#sidaintkända main, #svidrottare main{ /*specifikt för dem här två sidorna*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; /*Dem ska ha tre kolumner i main*/ 
}

#svidrottare section, #sidaintkända section{ /*En border runt sectionens på dem två sidorna*/
    border: 3px solid black;
    border-radius: 50px; /*Gör hörnen rundare*/
    margin:20px; /*Lite mer mellanrum mellan text och andra sections*/
}

#sida3 main{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

footer{ /*här är min footers css*/
    grid-area:footer;
    font-weight: 700; /*hör texten lite mer "bold"*/
}

table,th,td{  /*Min table css */
    border: 1px solid rgb(48, 7, 7);
    border-collapse: collapse;
}

th{  /*Det här th elementet är för att färga tabell bakgrunden*/
    background-color:antiquewhite;
}

td:nth-child(odd){  /*Det här är för att göra två sidor udda från dem andra*/
    background-color:rgb(255, 180, 87);
}

td:nth-child(even){ /*Den här är så att efter en udda sida kommer en even sida sen en udda och en even till*/
    background-color:rgb(255, 200, 90);
}

form { /*Css till min form*/
    background-color:rgb(255, 200, 90);
    padding: 20px;
    border-radius: 40px;
    max-width: 35em;
    margin: 0 auto;
    text-align: center;
  }
textarea {
    resize: none;
}

.video { /*videon jag använder*/
    width: 15em; 
    border-radius: 2em;
}
  
.bild1{ /*Alla dem här är bilder som jag gjort en klass för jag ville göra olika storleker på dem alla för att få in dem fint på webbsidan*/
    display:block;
    width: 25em;
}

.friidrott{
    width: 25em;
}

.idrottshall{
    width: 40em;
}

.Cristiano{
    width: 6em;
}

.Messi{
    width: 9em;
}

.Lebron{
    width: 7em;
}

.McGregor{
    width: 9em;
}

.Zlatan{
    width: 5em;
}

.Sjöström{
    width: 5em;
}

.Forsberg{
    width: 7em;
}

.Borg{
    width:5em;
}

.cricket{
    width:40em;
}

.fotboll{
    width:50em;
}

.innebandy{
    width: 30em;
}

.handboll{
    width: 30em;
}

.Ali{
    width: 12em;
    border-radius: 45px;
}

.Gretzky{
    width: 11em;
    border-radius: 45px;
}
 
.Bolt{
    width:9em;
    border-radius: 45px;
}

.Kalla{
    width:10em;
    border-radius: 45px;
}

.Lundqvist{
    width: 18em;
    border-radius: 45px;
}

.Gustafsson{
    width: 15em;
}

form{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

@media screen and (min-width:800px){ /*Här är min media query som då används för att se bättre ut på mobil och så då den anpassar sig för en dator och mobila enheter*/
    body{
        height:95vh;
        background-color:#FFE4C4;
    }
    nav ul{
        display: grid;
        grid-template-rows: auto;
        padding: 0;
        margin: 0;
        height: 100%;
        float:right;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}