.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em auto auto 2em;
    grid-template-areas:
    "header" 
    "nav" 
    "main" 
    "footer" ;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
nav>ul{
    display: grid;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    height: 100%;
    float:right;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav li{
    height: 100%;
    list-style-type:none;
    text-align: right;
}
nav a{
    height:100%;
    width:100%;
    display:inline-block;
    text-decoration: solid;
    text-align: right;
    padding:1pc;
    margin:0;
}
nav a:hover {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display:inline-block;
    padding: 1pc;
    margin:0;
}
main{
    grid-area:main;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}   
main section:nth-child(2){
    display:grid;
    grid-template-columns: 1fr 2fr;
}
section{
    align-items: left;
}
footer{
    grid-area:footer;
}
.bild1{
    display:block;
    width: 25em;
}
.friidrott{
    width: 25em;
}
.idrottshall{
    width: 40em
    
}
@media screen and (min-width:800px){
    body{
        height:95vh;
    }
}
.wrapper{
    grid-template-rows: 50px 50px auto 30px;
    width:90%;
    height: 95%;
    margin: 0 auto;
}
form{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
.formulär.html{
    background-colour: ;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 3em;
}
h4{
    font-size: 3em;
}
h5{
    font-size: 3em;
}
